server:
  port: 9000

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          routes:
            - id: user-service
              uri: lb://user-service
              predicates:
                - Path=/u/**
              filters:
                - AuthFilter

            - id: chat-service
              uri: lb://chat-service
              predicates:
                - Path=/c/**
              filters:
                - AuthFilter

            - id: security-service
              uri:
                lb://security-service
              predicates:
                - Path=/s/**



  main:
    web-application-type: reactive

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
    register-with-eureka: true
  instance:
    preferIpAddress: true

management:
  endpoints:
    web:
      exposure:
        include: hystrix.stream, gateway

key:
  path: keys/public.pem