server:
  port: 8081

spring:
  application:
    name: chat-service

  data:
    mongodb:
      database: chat-db
      host: localhost
      port: 27017
      uri: mongodb://localhost:27017/chat-db

eureka:
  client:
    register-with-eureka: true
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true

